@import "../base/variables";

.header {
  background-color: #fff;
  border-bottom: 1px solid #eee;

  &__top {
    padding: 20px 0;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__socials {
    display: flex;
    gap: 15px;
    width: 150px;
    a {
      color: #777;
      font-size: 16px;
      transition: color 0.3s;
      &:hover {
        color: $color-primary;
      }
    }
  }

  &__logo {
    font-size: 34px;
    font-weight: 800;
    color: $color-primary;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    letter-spacing: 1px;

    i {
      font-size: 38px;
      line-height: 1;
      transform: translateY(-3px);
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 150px;
    justify-content: flex-end;
  }

  &__action-link {
    color: #333;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s;
    &:hover {
      color: $color-primary;
    }
  }

  &__cart {
    position: relative;
    display: inline-flex;
    align-items: center;
  }

  &__cart-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -30%);

    background-color: #fff;
    color: #b92770;
    border: 2px solid #b92770;
    font-size: 11px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 800;
    line-height: 1;
    z-index: 10;
  }

  &__nav {
    padding: 15px 0;
  }

  &__menu {
    display: flex;
    justify-content: center;
    gap: 70px;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none;
      color: #111;
      font-weight: 700;
      font-size: 16px;
      transition: color 0.3s;

      &:hover,
      &.active {
        color: $color-primary;
      }
    }
  }
}
