// Colors
$color-primary: #B92770; 
$color-dark: #222222;
$color-grey: #777777;
$color-white: #FFFFFF;
$color-brown: #5D4037; // Приємний темно-коричневий

// Fonts
$font-main: 'Montserrat', sans-serif;

// Breakpoints
$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1024px;