@import "./base/variables";
@import "./base/reset";

@import "./components/header";
@import "./pages/home";
@import "./components/buttons";
@import "./components/product-card";
@import "./components/info-blocks";
@import "./components/categories";
@import "./components/offer-banner";
@import "./components/reviews";
@import "./components/footer";
@import "./components/benefits";
@import "./pages/catalog";
@import "./pages/product-details";
@import "./pages/about";
@import "./pages/contact";
@import "./pages/modal";
@import "./pages/cart";
@import "./layouts/header.scss";
@import "./abstracts/mixins";

body {
  font-family: $font-main;
  color: $color-dark;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  overflow-x: hidden;
}
